<h2><%= @trip.name %></h2>
<h3><%= @trip.city %></h3>

<a href=<%="/trips/#{@trip.id}/edit"%>> <button> Edit </button></a>
<br>
<br>
<form method="post" action="/trips/<%=@trip.id%>" >
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>